.jumbotron {
    padding-top: 6rem;
    background-color : #ace1af; 
}

#about {
    background-color: #ffffff;
}

#projects {
    background-color : #ace1af;
}

#contact {
    background-color : #ffffff;
}

section {
    padding-top: 5rem;
}